# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dependencies
node_modules/

# Environment
.env.local
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

firebase-debug.log

# Build errors and debug files
build_error*.txt
export_debug.txt
export_log.txt
deploy-log.txt
functions/firebase-debug.log

# Cloud Functions build artifacts
functions/lib/
